//- home.pug
include ../partials/header.pug

body
    div.container
        div.jumbotron
            h1 Traffic on Campus
        div
            h3 Locations
            br
            if data && decibel_readings
                each location, index in data
                    div(class=location.status+" box")
                    p
                        a(href="location/"+location.location_id) #{location.location_id}
                        | : &nbsp
                        span #{location.location_desc} #{decibel_readings[index]["data_value"]} #{location.data_time}

                br

    include ../partials/footer.pug
